@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
nav {
    padding: 1rem;
}
nav img {
    width: 120px;
}
.first__content {
    padding: 10px 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    text-align: center;
}
.first__paragraph {
    font-size: 13px;
}
.first__content img {
    width: 100%;
}
.second__content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    padding-top: 1.5rem;
    margin-right: 10px;
    margin-left: 10px;
}
.second__container-paragraphs {
    padding-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}
.button__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.button__content span {
    font-size: 10px;
    text-align: center;
}
.button {
    background-color: #8F13FD;
    color: #FFF;
    border: none;
    outline: none;
    padding: 1rem;
    font-size: 1.8rem;
    border-radius: 10px;
}
.discover {
    background-color: #eee;
    border-radius: 10px;
    padding: 10px;
    margin-top: 2rem;
    margin-right: 10px;
    margin-left: 10px;
}
.discover__title {
    font-size: 1.2rem;
    text-align: center;
}
.discover ul {
    margin-right: 20px;
    margin-left: 20px;
    padding-top: 2rem;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
}
.discover ul li {
    font-size: 15px;
}
@media (min-width: 1024px) {
    .first__content, .second__content, .discover {
        margin-right: 10rem;
        margin-left: 10rem;
    }
    .first__content img {
        width: 600px;
    }
}